extends _bootstrap
append styles
  link(href='css/bootstrap.min.css', rel='stylesheet')
  link(href='css/index.css', rel='stylesheet')
block body
  +navbar("Ideally", "dropdown_menu", "", "/")

  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.pane.margined-top
        h3.text-center Profile Overview
        div.col-sm-4.margined-top
          .image-div(style='background: url(https://avatars2.githubusercontent.com/u/4171202?v=3) no-repeat center;height: 180px;width: 180px;background-size: cover;border-radius: 5px;margin:0 auto;')
          p.text-center.margined-top Status:
            span.text-success ✓ Available
          if (user)
            div.text-center
              a.btn(class="btn-default", href="#/") Edit
        div.col-sm-8.margined-top
          h4.text-center.visible-xs Daniyil Vasylenko 
          h4.hidden-xs Daniyil Vasylenko 
          h5.margined-top
            b Country: 
            | Ukraine
          h5 
            b Bio: 
            | Node.js engineer @dial-once 
          h5 
            b Github:
              a(href="#/") @Spring3
          h5 
            b Main language: 
            | Javascript
          h5 
            b Main stack: 
            | Node.js, React.js, Electron
          div
            +list-group(['Node.js', 'Javascript', 'MongoDB', 'React', 'Electron', 'Bootstrap'])
        div.clearfix
        div.col-sm-4.col-sm-offset-4.margined-top
          a.btn(class="btn-primary btn-lg btn-block",href="#/") Get in touch



    hr
    footer
      p 
        | Copyrights © 
        a(href="https://www.linkedin.com/in/dvasylenko/") Daniyil Vasylenko
        |  (2017)
append scripts
  script(src="js/jquery.min.js")
  script(src="js/bootstrap.min.js")