extends _bootstrap
append styles
  link(href='css/bootstrap.min.css', rel='stylesheet')
  link(href='css/index.css', rel='stylesheet')
block body
  +navbar("Ideally", "dropdown_menu", "", "/")
  .container
    .row
      if (user && action === "edit")
        .col-xs-12.margined-top
          .pane
            form(method="post", action="/project/new")
              +input("text", "name", "", "Project name")
              +input("text", "name", "", "Project Link")
              .form-group
                label Project Description
                textarea(class="form-control", rows="5")
                  | Here the project owner is supposed to provide some short description for the project. Maybe some aims and goals, what technologies are used.
              .form-group
                label Looking for:
                +list-group-custom()
                  input.form-control(type="text", value="Node.js Developer")
                  h5 
                    small (comma-separated list of positions)
              p
                +submit("Publish", "primary")
      else if (!user || !action || action === 'view')
        form.col-xs-12.col-sm-10.col-sm-offset-1.margined-top
          .pane
            .col-sm-6
              h2 Project title
              .form-group
                h4 
                  small Owner:   
                  a(href="#/") John Doe
              .form-group
                label Description
                p Here the project owner is supposed to provide some short description for the project. Maybe some aims and goals, what technologies are used.
            .col-sm-6(style="border-left: solid 1px #FE9E8F;")
              h2 Looking for
              +list-group-custom()
                +list-group-item("#/")
                  +btn-xs("✓")
                  span
                    | Node.js Developer
                +list-group-item("#/")
                  +btn-xs("✓")
                  span
                    | Senior Database Specialist
                +list-group-item("#/")
                  +btn-xs("✓")
                  span
                    | Designer
              button.btn(class="btn-primary btn-block",type="button") Apply
    hr
    footer
      p 
        | Copyrights © 
        a(href="https://www.linkedin.com/in/dvasylenko/") Daniyil Vasylenko
        |  (2017)
append scripts
  script(src="js/jquery.min.js")
  script(src="js/bootstrap.min.js")