body {
  font-family: Helvetica !important;
}

nav {
  height: 125px;
  background: #FA5B4D !important;
  border-radius: 0px !important;
  border: none !important;
  margin-bottom: 0px !important;
}

.navbar-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-brand {
  margin-top: 35px !important;
  color: white !important;
  font-size: 30px;
  font-family: Reef;
}

.jumbotron p {
  font-size: 18px !important;
}

.jumbotron {
  margin: 0;
}

.btn-xs {
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 10px;
}

.pane {
  border: solid 2px #FE9E8F;
  border-radius: 3px;
  padding: 20px;
  display: inline-block;
}

.margined-top {
  margin-top: 20px;
}

.flexible {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  background: #FA5B4D;
  border-color: #FA5B4D;
}

.btn-primary:hover, .btn-primary:focus {
  background: #FE9E8F;
  border-color: #FE9E8F;
}

.gh {
  background: #24292E;
  color: white;
}

.gh:hover, .gh:focus {
  background: #464B4F;
  color: white;
}

.list-group-item {
  margin: 5px;
  padding: 5px 10px !important;
  border-radius: 3px;
  display: inline-block;
  background: #FE9E8F;
  color: white;
}

.list-group-item:hover {
  background: #FA5B4D;
}

.white {
  background: white;
}
